<%- include("_header") -%>

<h1>List of customers (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>State</th>
        <th>Sales YTD</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/createcustomer">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const customer of model) { %>
        <tr>
          <td><%= customer.cusFname %></td>
          <td><%= customer.cusLname %></td>
          <td><%= customer.cusState %></td>
          <td><%= customer.cusSalesYTD %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/edit/<%= customer.cusId %>">Edit</a>
            <a class="btn btn-sm btn-danger" href="/delete/<%= customer.cusId %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") -%>